@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 10px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #52ce9f 0%, #52469e 100%);
  color: #cccc;
}

h1 {
  font-size: 3rem;
  margin: 0 0 50px;
  text-align: center;
  color: white;
}

.timer__display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #cccc;
  border-radius: 10px;
  background-color: #f5f3f3cc;
  color: gray;
  height: 300px;
  width: 400px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

.button {
  border: none;
  background-color: #9474c7;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.button:hover {
  background-color: #897b92;
}

.button:disabled {
  background-color: #cccc;
}

/* .button.active {
  border: 1px solid var(--text-main-color);
  background-color: var(--text-main-color);
} */
@media only screen and (max-device-width: 1280px) {
  * {
    font-size: 0.9em;
  }
  h1 {
    font-size: 60px;
    line-height: 0px;
  }
  .button__wrapper {
    margin: auto;
    width: 100%;
  }
  .timer__display > p {
    font-size: 3.8em;
    padding-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 36px; 
    margin: 0 0 30px; 
  }
}
